#container
{
    color: #333;
    line-height: 130%;
    min-width: 800px;
    margin: -10px;
}
#top
{
    padding: .5em;
    height: 7em;
    margin-bottom: 10px;
    -webkit-box-shadow: 4px 4px 4px ;
    -moz-box-shadow: 4px 4px 4px ;
    box-shadow: 4px 4px 4px ;
    font-family: 'Minion Web';
    background: #0b93d5;
    background: -moz-linear-gradient(top, #0b93d5 0%, #26b3f7 100%);
}

#left
{
    float: left;
    width: 200px;
    min-height: 45em;
    max-height: 0em;
    margin-bottom: 10px;
}

#content
{
    width: auto;
    margin-left: 210px;
    min-height: 45em;
    margin-bottom: 10px;
}

#bottom{
    height: 3em;
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #AFAFAF 100%);
}

body {
    font-size: 12px;
    font-family: sans-serif;
    margin: 10px;
}