<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <global-method-security pre-post-annotations="enabled">
       <!-- AspectJ pointcut expression that locates our "post" method and applies security that way
        <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
        -->
    </global-method-security>


    <http auto-config="true" use-expressions="true" access-denied-page="/error/accessDenied.xhtml">

        <remember-me key="CookBook"/>
        <intercept-url pattern="/**" access="permitAll" />
        <form-login
                login-processing-url="/j_spring_security_check"
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/login?fail=1"/>

        <logout invalidate-session="true"
                logout-success-url="/"
                logout-url="/j_spring_security_logout"/>
        <!--
            Uncomment to enable X509 client authentication support
                <x509 />
        -->
        <!-- Uncomment to limit the number of sessions a user can have -->
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <session-management invalid-session-url="/">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>

    </http>

    <beans:bean  class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"
                id="passwordEncoder"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="DBUsers">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
