<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/cookbook</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.cache.region.factory_class">
              net.sf.ehcache.hibernate.EhCacheRegionFactory
        </property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <mapping class="by.chuger.cookbook.model.domain.Amount"/>
        <mapping class="by.chuger.cookbook.model.domain.Category"/>
        <mapping class="by.chuger.cookbook.model.domain.Ingridient"/>
        <mapping class="by.chuger.cookbook.model.domain.Feedback"/>
        <mapping class="by.chuger.cookbook.model.domain.Mark"/>
        <mapping class="by.chuger.cookbook.model.domain.Product"/>
        <mapping class="by.chuger.cookbook.model.domain.Recipe"/>
        <mapping class="by.chuger.cookbook.model.domain.RecipeMark"/>
        <mapping class="by.chuger.cookbook.model.domain.UserAccount"/>
        <mapping class="by.chuger.cookbook.model.domain.UserAuthority"/>
    </session-factory>
</hibernate-configuration>
